<div class="form-container">
    <h2>Registro</h2>
    <form>
      <div class="form-group">
        <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
      </div>
      <div class="form-group">
        <input type="text" id="apellido" name="apellido" placeholder="Apellido" required>
      </div>
      <div class="form-group">
        <input type="email" id="email" name="email" placeholder="Email" required>
      </div>
      <div class="form-group">
        <input type="url" id="url" name="url" placeholder="URL">
      </div>
      <div class="form-group">
        <input type="password" id="password" name="password" placeholder="Contraseña" required>
      </div>
      <div class="form-group">
        <input type="password" id="confirm-password" name="confirm-password" placeholder="Repetir Contraseña" required>
      </div>
      <button type="submit">Registro</button>
    </form>
  </div>
  